@model Oficial4.Controllers.AdminController
@{
    ViewBag.Title = "AcessoADMIN";
}

<h2>Menu:</h2>

@*@foreach (var item in ViewBag.MenuList as List<CataCategoria.MenuList>)
{
    <li class="ajax_link">
        @Html.ActionLink(item.Name, item.ActionName, item.ControllerName)
    </li>
}*@
    <style>
       #menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
}
        </style>
    <body>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="menu-item active"><a href="#">About </a></li>
                        <ul class="nav navbar-nav">
                            <li class="menu-item"><a href="#">Contact </a></li>
                            <ul class="nav navbar-nav">
                                <li class="menu-item"><a href="#">Support <i class="fa fa-support"></i></a></li>
                                <ul class="nav navbar-nav">
                                    <li class="menu-item"><a href="#">Blog <i class="fa fa-comments-o"></i></a></li>
                                    <li class="menu-item dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <i class="fa fa-wrench"></i></a>
                                            </li>
                                            <li class="menu-item dropdown dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit Account </a>
                                                <ul class="dropdown-menu">
                                                    <li class="menu-item "><a href="#">Page with comments</a></li>
                                                    <li class="menu-item "><a href="#">Page with comments disabled</a></li>
                                                    <li class="menu-item dropdown dropdown-submenu">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">3rd level link more options</a></li>
                                                            <li><a href="#">3rd level link</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="menu-item dropdown">
                                                <i class="fa"></i><a href="#" class="dropdown-toggle" data-toggle="dropdown">Logout <i class="fa fa-power-off padding-left-ten-px red-text"></i></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a href="http://www.twitter.com/" title="Twitter" rel="nofollow" target="_blank">
                                            <i class="fa fa-twitter-square fa-lg twitter-blue"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com/" title="Facebook" rel="nofollow" target="_blank">
                                            <i class="fa fa-facebook-square fa-lg facebook-blue"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.linkedin.com/" title="LinkedIn" rel="nofollow" target="_blank">
                                            <i class="fa fa-linkedin-square fa-lg linkedin-blue"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <form class="navbar-search navbar-form" method="get" action="">
                                            <input class="form-control" placeholder="Search" name="s" type="text">
                                        </form>
                                    </li>
                                </ul>
                            </ul>
                        </ul>
                    </ul>
                    <br>
    </body>

