@model Oficial4.Models.Carro

@{
    ViewBag.Title = "Detalhes";
    var usrSession = Session["nome_Usuario"];
    if (usrSession != null && usrSession.ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Detalhes</h2>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Carro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Carro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_carro }) |
    <a href="/Carro/Index" class="btn btn-info">Voltar</a>
</p>
