@model Oficial4.Models.Pecas
@{
    ViewBag.Title = "CATÁLOGO - Cliente";
}

@*<h2>Selecione a Categoria:</h2>
    <select id="selectTipos" name=" ">
        @foreach (var item in Model)
        {
            @Html.ActionLink((string)item.descricao, "IndexAjaxCatalogo", new { descricao = item.id_Tipo.ToString() }), new { target = "_blank" })
            <option value="">text</option>
        }
    </select>*@
<div>
    <h2>Selecione Categoria da peça Desejada:</h2>

    <div class="div-select">
        <select id="selecttipos" name=" ">
            @foreach (var item in ViewBag.Tipos)
            {

                <option class="form-group" value="@item.tipo">@item.tipo</option>

            }
        </select>
    </div>


</div>

<script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#selecttipos").change(function ()
        {
            @*var url = "@Url.Action("CatalogoCategoria","CatalogoCategoria")";*@
            window.open("https://localhost:44312/IndexAjaxCatalogo/CataPecas");
            $.get
            location.href = url;
        });
    });
</script>
