@model Oficial4.Models.Tipo

@{
    ViewBag.Title = "Detalhes";
    var usrSession = Session["nome_Usuario"];
    if (usrSession != null && usrSession.ToString() != "adm")
    {
        Response.Redirect("~/Home/Login");
    }
}

<h2>Detalhes</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_Tipo }) |
    @Html.ActionLink("Voltar", "Index")
</p>
